{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "compute": "./src/compute",
          "screens": "./src/screens",
          "utils": "./src/utils",
          "config": "./config"
        },
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ]
  ]
}
